asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
cx_Oracle==8.3.0
dj-database-url==3.1.2
Django==5.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
feedparser==6.0.11
gunicorn==26.0.0
idna==3.10
marshmallow==3.26.1
packaging==25.0
pillow==10.4.0
psycopg2-binary==2.9.12
PyJWT==2.9.0
python-dateutil==2.9.0.post0
requests==2.32.3
sgmllib3k==1.0.0
six==1.17.0
sqlparse==0.5.1
transbank-sdk @ git+https://github.com/TransbankDevelopers/transbank-sdk-python.git@a937bfcedaf27be06ab8f675f6c8e8ba39842aa5
tzdata==2024.1
urllib3==2.2.3
whitenoise==6.12.0
