<!DOCTYPE html>
<html>
<head>
    <title>Mi carrito</title>
</head>
<body>

<h1>Mi carrito 🛒</h1>

<a href="{% url 'product_list' %}">Volver al catálogo</a>

<hr>

{% for item in items %}
    <div style="border:1px solid #ccc; margin:10px; padding:10px;">
        <h3>{{ item.producto.nombre }}</h3>
        <p>Cantidad: {{ item.cantidad }}</p>
        <p>Precio: ${{ item.producto.precio }}</p>
        <p>Subtotal: ${{ item.subtotal }}</p>
    </div>

    <form method="POST" action="{% url 'remove_from_cart' item.id %}">
        {% csrf_token %}
        <button type="submit">Eliminar ❌</button>
    </form>
{% empty %}
    <p>Tu carrito está vacío</p>
{% endfor %}


<p>Cart: {{ cart }}</p>
{% if cart %}
    <h2>Total carrito: ${{ cart.total|default:"NO HAY TOTAL" }}</h2>
{% endif %}

<form method="POST" action="{% url 'checkout' %}">
    {% csrf_token %}
    <button type="submit">Finalizar compra 💳</button>
</form>

</body>
</html>